.sidebar {
  height: 100vh;
  width: 140px;
  padding: 1rem;
}

.menu-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.menu-list > li {
  list-style: none;
}

.menu-item {
  text-decoration: none;
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--font-color-secondary);
  border-radius: var(--default-radius);
}

.menu-item:hover,
.menu-item:focus {
  color: rgb(255, 159, 23);
  background-color: rgba(255, 183, 81, 0.2);
}

.menu-item-text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.334;
}

.menu-divider {
  border-color: rgb(68, 62, 62);
  margin: 0;
  padding: 0;
}
