.search-input {
  display: block;
  font-size: inherit;
  border-radius: var(--default-radius);
  outline: none;
  border: 2px solid #ddd;
  color: var(--font-color-primary);
  padding: 0 0.5rem;
}

.search-input:hover {
  border-color: #888;
}

.search-input:focus {
  border-color: var(--focus-color);
}
