.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: var(--default-radius);
  border: 0;
  text-decoration: none;
  cursor: pointer;
}

.icon {
  padding-right: 0.2rem;
}

.small {
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
}

.normal {
  padding: 0.55rem 1rem;
  font-size: 0.9rem;
}

.big {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.text {
  color: var(--focus-color);
  background-color: transparent;
  transition: all 0.1s linear;
}

.text:hover,
.text:focus {
  color: var(--focus-color);
  background-color: var(--focus-background-color);
  transition: all 0.1s linear;
}

.solid__primary {
  background-color: rgb(246, 159, 20);
  color: #fff;
  transition: all 0.1s linear;
}
.solid__primary:hover,
.solid__primary:focus {
  background-color: rgb(229, 144, 26);
  transition: all 0.1s linear;
}

.solid__secondary {
  background-color: rgb(240, 240, 240);
  color: var(--default-color);
  transition: all 0.1s linear;
}
.solid__secondary:hover,
.solid__secondary:focus {
  background-color: rgb(220, 220, 220);
  transition: all 0.1s linear;
}

.solid__danger {
  background-color: rgb(225, 67, 67);
  color: #fff;
  transition: all 0.1s linear;
}
.solid__danger:hover,
.solid__danger:focus {
  background-color: rgb(188, 45, 45);
  transition: all 0.1s linear;
}
