.trainings-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--section-board-padding);
}

.trainings-section__title-container {
  display: grid;
  grid-template-columns: 1fr auto;
}
