.exercise-card__buttons-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.exercise-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
