.private-layout {
  display: flex;
}

.private-layout__logo {
  width: 130px;
}

.private-layout__sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 140px;
  padding-top: 0.5rem;
}

.private-layout__main {
  flex-grow: 1;
  background-color: var(--background-primary-color);
  padding: 1.5rem;
  margin-left: 140px;
  min-height: 100vh;
}
